numpy
pandas
jupyterlab
requests
psycopg[binary]
sqlalchemy
matplotlib
seaborn
dash
dash-bootstrap-components
scikit-learn
python-dotenv
googlemaps
bs4
mysql-connector-python
pymongo
sidetable
prince
wquantiles
scipy
ydata_profiling
openai
jupyterlab-spellchecker
wget