numpy
pandas
jupyterlab
requests
psycopg2-binary
sqlalchemy
matplotlib
seaborn
dash
dash-bootstrap-components
scikit-learn
python-dotenv
googlemaps
bs4
mysql-connector
pymongo
sidetable
prince
wquantiles
scipy
ydata_profiling
